* {
  box-sizing: border-box;
}
section {
  border: 2px solid black;
  width: 100%;
  margin: 5rem auto 4 auto;
  height: 40rem;
  position: relative;
}

body {
  font-family: "Courier", Times, serif;
  background: rgb(245, 190, 10);
  background: linear-gradient(0deg, #d68e18 25%, #4d8639 50%, #7fa7b3 100%);
}

.h1 {
  text-shadow: 5px 5px 8px rgb(125, 79, 79);
  border: 2px solid;
  margin: 5px;
  padding: 5px;
}

.h2 {
  text-shadow: 5px 5px 8px black;
}

.bio {
  left: 0;
  width: 50%;
  position: absolute;
  font-weight: bolder;
  margin: 20px;
  border: solid 2px black;
  background-color: #4d86c9;
  padding: 20px;
}

.job {
  left: 10;
  bottom: 0;
  width: 20%;
  position: absolute;
  background-color: #4d86c9;
  font-weight: bolder;
  margin: 20px;
  padding: 20px;
  border: solid 2px black;
}

.car {
  right: 0;
  width: 20%;
  position: absolute;
  background-color: #4d86c9;
  font-weight: bolder;
  padding: 20px;
  border: solid 2px black;
  margin: 20px;
}
.film {
  right: 0;
  bottom: 0;
  width: 20%;
  position: absolute;
  background-color: #4d86c9;
  font-weight: bolder;
  padding: 20px;
  border: solid 2px black;
  margin: 20px;
}
footer {
  bottom: 0;
  width: 95%;
  position: relative;
  background-color: #4d86c9;
  font-weight: bolder;
  margin: 20px;
  padding: 20px;
  border: solid 2px black;
}
